

<html>
    <head>
        <title> covid </title>
    </head>
    <body>
        <center>
        <table  width="80%" border="1" bordercolor="blue" bgcolor=" pink" >
            <caption> COVID DATA</caption>
            <tr>
                <th align="left" width="30%" >month</th>
                <th>positive</th>
                <th>recovered</th>
                <th>deaths</th>
            </tr>
            <tr>
                <td rowspan="2">ABC</td>
                <td>64944</td>
                <td>7489</td>
                <td>8764</td>
            </tr>
            <tr>
                <td>37040</td>
                <td>84944</td>
                <td>74044</td>
             
            </tr>
            <tr>
                <td>october 6</td>
                <td>84944</td>
                <td>74044</td>
                <td>7639</td>
            </tr>
            <tr>
                <td>october 6</td>
                <td>84944</td>
                <td>74044</td>
                <td>7639</td>
            </tr>
            <tr>
                <td colspan="4">my last line</td>
            </tr>
        </table>
    </body>
    </center>
</html>